*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#humburg {
    background-color: rgb(222, 131, 98);
    margin-top: 2.1rem;
}
ul.breadcrumb {
  margin-left: 100px;
padding: 10px;
    list-style: none;
   
  }
  
  ul.breadcrumb li {
    display: inline;
   
}
  
  ul.breadcrumb li+li:before {
    
    color: rgba(16, 15, 15, 0.859);
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {color:rgb(25, 155, 66) ;}

#meatfood{
    display: flex;
    flex-wrap: nowrap;
   position: relative;
    background-color: rgb(222, 131, 98);
    text-align: justify;
    justify-content: space-evenly;
   
}

#meatfood>div:nth-child(1){
    width: 40%;
    
    padding: 0.75rem;
    padding-top: 0;
    color: rgb(39, 37, 37);
}
#meatfood>div h1{
    padding:1rem;
    padding-left: 0;
    color: rgb(62, 62, 177);
}
#meatfood>div:nth-child(2){
    width:40%;
    
   background-repeat: no-repeat;
   background-size: contain;
    background-image: url('https://veganessentials.com/cdn/shop/files/Vegan-Meat-_-Seafood_1000x.png?v=1676893466" alt="">');
}
#meatfood a{
    color: rgb(39, 37, 37);
}
