*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
width: 90%;
margin: auto;
padding: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  }
.main_content{
    width: 285px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: azure;
    text-align: center;
    position: relative;  
    border-radius: 20px;
    padding:5px;
  }
.main_content:hover{
    width: 295px;
  }
.main_content img{
   background-color:azure ;
  }
.main_content p{
   padding: 10px;
 }
.main_content>select{
    padding: 10px;
    width: 50px;
    background:rgb(250, 194, 9);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    border: none; 
  }
.main_content>button{
    padding: 9px;
    width: 150px;
    border-top-right-radius: 40px;
    border-bottom-right-radius:40px ;
    background-color: rgb(228, 201, 7);
    border: none;
    border-left: 1px solid rgb(144, 50, 16);
    position: relative;
    left: -5px;
    font-size: 16px;   
  }
.main_content>button:hover{
    background-color:rgb(205, 104, 15) ;
 }
.bi{
    color: rgb(243, 205, 17); 
 }
.main_content>p>span{
    margin-left: 85px;
    background: linear-gradient(135deg, orange 60%, cyan);
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50px;
    font-size: medium;
    font-weight: 500;
  }
.main_content>p:nth-last-child(3){
   font-weight: 700;
   font-size: large;
}
.logos{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
  }
.logos h1{
    margin-bottom: 20px;
}
.logos>img{
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    padding: 100px;
 }
.content>div{
    width: 40%;
    justify-content: left;
 }
.content>div img{
   width: 85%; 
 }
.content>div img:hover{
    width: 90%;
}
.content>div h1{
    padding: 15px;
}
.content>div a{
    text-decoration: none;
}
.footer{
    width: 100%;
    background-color: bisque;
    display: flex;
    padding: 20px;
 }
.footer>div{
    padding: 15px;
    line-height: 30px;
}
.footer>div img{
    width: 120px;
}
.footer>div ul li{
    list-style: none;
}
.footer>div input{
    padding: 15px 20px 15px 20px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    margin: 10px 10px 0px 0px;
}
.bi-facebook{
    color: blue;
    font-size: 25px;
}
.bi-facebook:hover{
    font-size: 30px;
}
.bi-twitter{
    color: skyblue;
    font-size: 25px;
}
.bi-twitter:hover{
    font-size: 30px;
 }
.bi-instagram{
    color: rgb(255, 0, 153);
    font-size: 25px;
}
.bi-instagram:hover {  
   font-size: 30px;
}
.footer>div button{
    padding: 15px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    background-color: rgb(226, 183, 12);
}
.footer>div button:hover{
    background-color: rgb(223, 164, 13);
}
.footer a{
    text-decoration: none;
    color: black;
}
.main-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 10px;
    background-color: bisque;
}
