    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* html{
    font-size: 100%;
} */
.haeder-container {
    font-family: 'Courier New', Courier, monospace;
}

.margue-part {
    width: 100%;
    display: flex;
    background-color: rgb(54, 158, 69);
    color: hsl(0, 0%, 100%);
    padding: 1.2rem;

}

.margue-part>div:nth-child(1) {
    width: 18%;
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
}

.margue-part>div:nth-child(1)>p {
    padding-left: 0.2rem;
}

.margue-part>div:nth-child(2) {
    width: 50%;
    margin-top: -0.5rem;
}

.margue-part>div:nth-child(3) {
    width: 30%;
    margin: 0 auto;
    margin-top: -0.5rem;
}

#header-part {
    width: 100%;
    background-color: rgb(220, 247, 228);
    display: flex;
    padding: 0.9rem;
    border-bottom: 3px solid green;
    position: fixed;
    z-index: 10;
    top: 0;
}



#logo_img {
    width: 15%;
}

#logo_img a>img {
    width: 45%;
    display: block;
    float: right;
}

#header-category {
    width: 45%;
    display: flex;
    padding-top: 1.5rem;
}

#header-category>a {
    text-decoration: none;
    padding-left: 2rem;
}

#header-category>a p {
    font-weight: 500;
    color: rgb(69, 71, 69);
}

#header-category>a p:hover {
    cursor: pointer;
    color: teal;
}

#header-category>a p::after {
    background-color: blue;
}

#search-bar {
    width: 23%;
    display: flex;
    position: relative;

}

input[type=text]:not(.browser-default) {
    height: 0px !important;
}

#search-bar>input {

    border: 1px solid red;
    width: 80%;
    margin-top: 0.6rem;
    border-radius: 20px 0 0 20px;
    border: none;
    margin-left: 0.5rem;
    outline: none;
    background-color: rgb(214, 211, 211);
    padding: 1.22rem 0 1.22rem 1rem;

}

#search-bar>input::placeholder {
    padding: 1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #916969;

}

#search-bar>.fa-magnifying-glass {
    position: absolute;
    top: 10%;
    left: 80%;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    padding: 0.64rem 0.8rem 0.8rem 0.4rem;
    border-radius: 0 50px 50px 0;
    background-color: grey;
    color: #fff;
    outline: none;
    cursor: pointer;


}

#search-bar>.fa-magnifying-glass:hover {
    border: none;
    outline: none;
}

#header-singup-cart {
    display: flex;
    width: 10%;
    margin: auto 0;
    font-size: 1.5rem;
    justify-content: space-around;

}

#cart_count {
    position: absolute;
    top: 10%;
    left: 89%;
    color: rgb(237, 9, 9);
    font-size: 1.5rem;
    font-weight: bold;
    
}

/* Responsiveness CSS Strt........................................ */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .margue-part {
        width: 100%;
        display: flex;
        background-color: rgb(54, 158, 69);
        color: hsl(0, 0%, 100%);
        padding: 1.2rem;
    
    }
    
    .margue-part>div:nth-child(1) {
        width: 18%;
        display: none;
        justify-content: center;
        margin-top: -0.5rem;
    }
    
    .margue-part>div:nth-child(1)>p {
        padding-left: 0.2rem;
    }
    
    .margue-part>div:nth-child(2) {
        width: 100%;
        margin-top: -0.5rem;
        font-weight: bold;
    }
    
    .margue-part>div:nth-child(3) {
        width: 30%;
        margin: 0 auto;
        margin-top: -0.5rem;
        display: none;
    }

    #header-part {
        width: 100%;
    
        display: flex;
        flex-direction: column-reverse;
        padding: 0.9rem 0;
        border-bottom: 3px solid green;
        display: none;
      
    }
    
    
    
    #logo_img {
        display: inline;
        width: 25%;
        order: 1;
        margin-left: 2rem;
    }
    
    #logo_img a>img {
        width: 70%;
        float: left;
    }
    
    #header-category {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
       
    }
    
    #header-category>a {
       
        padding-left: 0;
    }
    
    #header-category>a p {
        font-weight: 500;
        font-size: 1.4rem;
        color: rgb(69, 71, 69);
        border-top:1px solid grey ;
        padding:0.4rem 0 0 0.5rem;
    }
    
  
    
    #search-bar {
        width: 100%;
        display: flex;
        position: relative;
       
    
    }
    
   
    
    #search-bar>input {
    
        
        padding: 1.5rem;
        /* border-radius: 20px 20px 20px 20px; */
    
    }
    
 
    
    #search-bar>.fa-magnifying-glass {
      
        padding: 1.0rem;
    
    
    }
  
    
    #header-singup-cart {
        width: 20%;
        position: relative;
        top: 0%;
        left: 80%;
        display:flex;
        margin: -2.8rem 0 0 0;
        font-size: 1.5rem;
      
    
    }
    #header-singup-cart > i{
        font-size: 2rem;
        padding: 0.5rem;
    }
    
    #cart_count {
        position: absolute;
       top: -20%;
        left: 69%;
        color: rgb(255, 0, 0);
        font-size:1.5rem;
        font-weight: bold;
       
    }
}